<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    @if(plant$ | async; as plant) {

    <h1 class="display-5 fw-bold">{{ plant?.name }}</h1>
    <p class="col-md-8 fs-4">
      {{ plant?.description }}
    </p>
    <button class="btn btn-primary btn-lg" type="button">Edit!</button>
    }
  </div>
  @if (plantImages$ | async; as plantImages) {
  <ngb-carousel>
    @for (image of plantImages; track image; let i = $index) {

    <ng-template ngbSlide>
      <div class="d-flex justify-content-center">
        <img
          [src]="plantService.getBaseUrl() + image.path"
          class="d-block w-50"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>First slide label {{ i }}</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>

    }
  </ngb-carousel>
  }
</div>
