<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
      Keep track of your plants needs!
    </h1>
    <p class="lead">
      Are you captivated by the beauty of plants but find it challenging to
      maintain their vitality? You're not alone in facing this struggle.
      Overwatering, among other pitfalls, often plagues plant enthusiasts. Yet,
      fret not, for our innovative tracking system offers a solution. Say
      goodbye to wilted leaves and hello to thriving greenery with ease.
    </p>
    <p class="lead">
      Our intelligent tracking system is designed to alleviate your worries.
      Receive timely notifications precisely when your plants need watering,
      eliminating the guesswork. Monitor your plants' health effortlessly,
      empowering you to intervene whenever necessary. With our user-friendly
      dashboard, managing your botanical companions becomes a breeze, accessible
      from anywhere at any time.
    </p>

    <p class="lead">
      Remember, successful plant care extends beyond watering. Factors like
      sunlight exposure, humidity levels, and ambient temperature are pivotal
      considerations in nurturing your green allies. Let our system guide you
      towards a flourishing indoor oasis, where every leaf dances with vitality.
    </p>
  </div>
</div>
