<main class="d-flex align-items-center justify-content-center">
  <form
    class="form-sign-in w-100"
    [formGroup]="registerForm"
    (ngSubmit)="onRegister()"
  >
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <div class="form-floating">
      <input
        class="form-control"
        formControlName="name"
        type="text"
        id="firstNameInput"
      />
      <label for="firstNameInput">First Name</label>
    </div>
    <div class="form-floating">
      <input
        class="form-control"
        formControlName="name"
        type="text"
        id="lastNameInput"
      />
      <label for="lastNameInput">Last Name</label>
    </div>
    <div class="form-floating">
      <input
        class="form-control"
        formControlName="email"
        type="email"
        id="emailInput"
      />
      <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        class="form-control"
        formControlName="password"
        type="password"
        id="passwordInput"
      />
      <label for="passwordInput">Password</label>
    </div>
    <button
      class="btn btn-primary w-100 py-2"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Sign up
    </button>
  </form>
</main>
