.form-sign-in {
    max-width: 20rem;
    padding: 1rem;
  
    & input[type="email"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    & input[type="password"] {
      margin-bottom: 1em;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  