<header class="p-3 text-bg-dark">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a class="d-flex text-white text-decoration-none">
      <i class="bi bi-tree-fill h1"></i>
      <span class="fs-2">Planteria</span>
    </a>
    <ul
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    ></ul>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-light me-2"
        routerLink="/login"
      >
        Login
      </button>
      <button type="button" class="btn btn-warning" routerLink="/register">
        Register
      </button>

      <button (click)="onLogout()" type="button" class="btn btn-danger">
        Logout
      </button>
    </div>
  </div>
</header>
